include AUTHORS
include Changelog
include README.rst
include MANIFEST.in
include LICENSE
include TODO
recursive-include celerymon *.py
recursive-include celerymon/templates *.html
prune celerymon/*.pyc
prune bin/*.pyc
